@keyframes background {
    0% {
      background-color: #ff0000;
    }
    16.6% {
      background-color: #fff000;
    }
    33.3% {
      background-color: #ffff00;
    }
    50% {
      background-color: #00ff00
    }
    66.6% {
      background-color: #00ffff
    }
    83% {
      background-color: #0000ff
    }
    90% {
      background-color: #ff00ff
    }
    100% {
      background-color: #ff0000;
    }
}

body {

  font-family: 'Raleway', sans-serif;
  color: #282828;
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  box-sizing: border-box;
  animation: background 30s infinite;
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
  clear: both;
  padding: 20px;
  background-color: #282828;
  margin-right: 40px;
}

.search .input .search-input {

  font-size: 3em;
  background-color: transparent;
  border: 0px;
  color:#f3f3f3;
  width: 100%;
  font-family: font-family: 'Raleway', sans-serif;
}

.search .input .search-input:focus{
  outline: none;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  margin-left: -25%;
  margin-top: -15%;
  height: 150vh;
  width: 150vw;
  z-index: 5000;
  opacity: 0.5;
}

.loading img {
  display: block;
  width: 150vw;
  height: 150vh;
}

.hide {
  display: none;
}

.message {
  position: absolute;
  top: 45%;
  left:0px;
  width: 100%;
  text-align: center;
}

.message h1 {
  font-size: 3em;
  opacity: 0.5;
}

nav {
  margin: 20px 0px 20px 0px;
}

nav .scan-btn, nav .list-all-btn {
  float: left;
  background: #282828;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

nav .list-all-btn {
  margin-left: 0Px !important;
}

nav .list-all-btn a {

  display: block;
  width: 40px;
  height: 40px;
  background: url("/images/iconmonstr-infinity-3-72.png") top left no-repeat;
  background-size: 40px 40px;
}

nav .scan-btn a {

  display: block;
  width: 40px;
  height: 40px;
  background: url("/images/iconmonstr-synchronization-3-72.png") top left no-repeat;
  background-size: 40px 40px;
}

nav .scan-btn a:hover, nav .list-all-btn a:hover {
  cursor: pointer;
}

nav .filter{
  float: left;
  line-height: 40px;
  height: 40px;
  padding: 20px;
  background: #282828;
  margin-right: 20px;
}

nav .filter.active, nav .list-all-btn.active {
  opacity: 0.4 !important;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right:10px;
  background: url("/images/iconmonstr-x-mark-1-72.png") top left no-repeat;
  background-size: 40px 40px;
}

nav .text {
  display: inline-block;
  height:40px;
  line-height: 20px;
}

nav .artist a, nav .album a, nav .tracks a, nav .video a {
  display:block;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 2.5em;
}

nav .artist a:hover, nav .album a:hover, nav .tracks a:hover, nav .video a:hover {
  text-decoration: none;
  cursor: pointer;
}

.results {
  padding: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

.results h1 {
  background-color: #282828;
  padding: 10px;
  color: #fff;
}

.results .list {
  list-style: none;
  padding: 0px 0px 0px 10px;
}

.results .list li {
  font-size: 2em;
  color:  #000;
  font-weight: bold;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
  width: 35px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
}
